body{
    background-color: hsl(0, 0%, 0%);
}
.wallpaper{
  width: 1550px;
  position: absolute;
  top: -125px;
  left: -10px;
  z-index: 0;
}
.title{
  position: relative;
  top: auto;
  left: 635px;
  width: 250px;
}
.bar {
  background-color: hsl(0, 0%, 0%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 2;
}
.github{
    color: hsl(0, 0%, 100%);
    overflow: hidden;
    font-size: 28px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 50px;
    border: 2px solid hsl(0, 72%, 48%);
    border-radius: 10px;
    width: 8%;
    animation: fade 5s infinite alternate linear;
    z-index: 3;
}
@keyframes fade{
    0%{border-color: hsl(0, 100%, 50%)}
    11%{border-color: hsl(320, 100%, 50%)}
    22%{border-color: hsl(280, 100%, 50%)}
	  33%{border-color: hsl(240, 100%, 50%)}
	  44%{border-color: hsl(200, 98%, 50%)}
	  55%{border-color: hsl(160, 100%, 50%)}
	  66%{border-color: hsl(120, 100%, 50%)}
    77%{border-color: hsl(80, 100%, 50%)}
    88%{border-color: hsl(40, 100%, 50%)}
    100%{border-color: hsl(0, 100%, 50%)}
}
.abstract{
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  position: absolute;
  top: 70px;
  left: 100px;
  z-index: 1;
}
.abinfo{
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  position: absolute;
  top: 160px;
  left: 100px;
  z-index: 1;
}
.detail{
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  position: absolute;
  top: 210px;
  left: 100px;
  z-index: 1;
}
.detailinfo{
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  position: absolute;
  top: 300px;
  left: 100px;
  z-index: 1;
}
.howto{
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  position: absolute;
  top: 390px;
  left: 100px;
  z-index: 1;
}
.howinfo{
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  position: absolute;
  top: 480px;
  left: 100px;
  z-index: 1;
}
.demo{
  color: hsl(0, 0%, 100%);
  font-size: 45px;
  position: absolute;
  top: 65px;
  right: 305px;
  z-index: 1;
}
.video{
  position: absolute;
  top: 180px;
  right: 60px;
  z-index: 1;
}
